* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #F9F3F3;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
}


.sidebar {
    width: 35vh;
    background-color: #E3C2A0; /* Fundo da sidebar */
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.sidebar h1 {
    font-size: 24px;
    color: #3D3D3D;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Remover marcadores da lista */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

/* Estilizando os links da sidebar */
.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #025E73;
    background-color: #e7ebf0; /* Cor de fundo dos itens não selecionados */
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Para alinhar o ícone com o texto */
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sidebar ul li a:hover {
    background-color: #c4dce3; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o link ativo */
.sidebar ul li a.active {
    background-color: #025E73; /* Cor de fundo do item ativo */
    color: #E3C2A0; /* Cor do texto no item ativo */
}

/* Ícone dentro do link ativo */
.sidebar ul li a.active i.fa-tasks {
    color: #E3C2A0; /* Muda a cor do ícone quando o link estiver ativo */
}

i.fa-tasks {
    color: #025E73;
    font-size: 18px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

i.fa-user {
    color: #025E73;
    font-size: 18px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

i.fa-file {
    color: #025E73;
    font-size: 18px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.sidebar ul li a.active i.fa-user {
    color: #E3C2A0; /* Muda a cor do ícone quando o link estiver ativo */
}

.sidebar ul li a.active i.fa-file {
    color: #E3C2A0; /* Muda a cor do ícone quando o link estiver ativo */
}


.logout {
    text-align: center;
}

.logout button {
    background-color: #FDF0EC;
    color: #81290E;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.logout button:hover {
    background-color: #81290E;
    color: #FDF0EC;
    border-radius: 8px;
}

i.fa-arrow-left {
    font-size: 15px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    margin-left: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
    margin-right: 10vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-bar {
    border: 2px solid #c0c0c0;
    border-radius: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-bar i.fa-magnifying-glass {
    font-size: 20px;
    margin-right: 20px;
}

.header input[type="search"] {
    padding: 10px;
    font-size: 16px;
    background-color: #F9F3F3;
    border-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 150%;
}

.header input[type="search"]:focus {
    outline: none;
    border: none;
}

.header .user-profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header .user-profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 4px;
}

.header .user-profile .user-name {
    margin-left: 10px;
    font-size: 20px;
    color: #3D3D3D;
}

.dashboard {
    display: flex;
    gap: 50px;
    flex-grow: 1;
    margin-bottom: 5vh;
}

.column {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

    border-style: solid;
    border-width: 2px;
    max-height: 600px;

}

.column h2 {
    font-size: 22px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.task-card .title-task {
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}




.task-card {
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-color: #CAD9F6;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.task-card .dateandicons .date {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}


.task-card p {
    margin-bottom: 5px;
    color: #5C5C5C;
}

.task-card .dateandicons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.task-card .icons {
    display: flex;
    gap: 10px;
}

.task-card .dateandicons i.fa-pen-to-square {
    color: #3D3D3D;
    font-size: 20px;
}

.task-card .dateandicons i.fa-trash {
    color: #B93A13;
    font-size: 18px;
}

.task-card .dateandicons i.fa-rectangle-list {
    color: #3D3D3D;
    font-size: 20px;
    margin-top: 1px;
}

.task-card .icons a {
    color: #354f52;
    text-decoration: none;
    margin-left: 10px;
}

.title-pendencia {
    color: #14367B;
}

.title-pendencia .fa-square {
    font-size: 22px;
    margin-right: 5px;
}

.title-progresso {
    color: #8F4F00;
}

.title-progresso .fa-hourglass {
    font-size: 20px;
    margin-right: 8px;
}

.title-pronto {
    color: #81290E;
}

.title-pronto .fa-square-check {
    font-size: 22px;
    margin-right: 5px;
}

.task-card .icons a:hover {
    color: #025E73;
}

.add-task-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #025E73;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size:large;
}

.add-task-btn:hover {
    background-color: #025E73;
}

/* Column colors */
.pendente {
    background-color: #EEF2FC;
    border-color: #CAD9F6;
}

.progresso {
    background-color: #FFF6EB;
    border-color: #FFE4C2;
}

.pronto {
    background-color: #FDF0EC;
    border-color: #FAD0C6;
}

.titulo-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 10vh;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.titulo-dashboard h1 {
    color: #025E73;
    font-size: 40px;
}

p {
    line-height: 18px;
}



.modal {
    display: none; /* Esconde o modal inicialmente */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo específico para o modal de status, se necessário */
#statusSelect {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para os botões de confirmação */
.confirm-btn {
    background-color: #d9534f;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-btn {
    background-color: #5bc0de;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
